* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: ;
}

.container {
    display: flex;
}

.aside {
    margin: 20px;
    border: 1px solid black;
    display: inline-flex;
    flex-direction: column;
}

.cards {
    padding: 4px;
    width: 200px;
    background-color: #a2e8f5;
    box-shadow: 1px 1px 2px #bbbbbb;
    cursor: pointer;
}

.card {
    background-color: #a2e8f5;
    color: black;
    padding: 4px;
    margin: 0;
    width: 200px;
    box-shadow: 1px 1px 2px #bbbbbb;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

.category {
    display: block;
    border: 2px solid red;
    padding: 20px;
}

.category__title {
    text-align: center;
    margin: 10px;
}

.category__pok {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    height: 100%;
    justify-items: center;
}

.pok__card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    width: 250px;
    height: 350px;
    padding: 5px;
}

.pok__img {
    height: 70%;
}


.plant {
    background-color: rgb(147, 235, 147);
}

.fire {
    background-color: rgb(245, 110, 57);
}

.water {
    background-color: #69dbf0;
}

@media (max-width: 480px) {
    .container {
        flex-direction: column;
    }
}